In [2]:
from app.utils import *
import os

In [2]:
data = TableData("./fixtures/Results.csv")

In [22]:
from numpy import NaN, nan


data.toggle_columns(list(set(RESULTS_JUNK) | set(RESULT_KEYS_ERR)), False)
df = data.toggle_lod(False).iloc[:, :]
df

,File #,Li,Be,C,Mg,MgO,Al,Al2O3,Si,SiO2,...,Os,Ir,Pt,Au,Hg,Tl,Pb,Bi,Th,U
1572,2105,,,,,,,,,,...,,,,,,,40.5181,0.0307,,
1571,2104,,,,,0.8268,,,,,...,,,,,,,0.0035,,,
1570,2103,,,,,1.3664,,,,0.6882,...,,,,,,,,,,
1569,2102,,,,,,,,,,...,,,,,,,,,,
1568,2101,,,,,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,426,,,,,,,,,30.9298,...,,,,,,,28.0739,0.0283,,
3,425,,,,,,,0.3981,,79.1598,...,,,,,,,0.0144,,,
2,424,,,,,,,,97.5537,,...,,,,,,,0.4554,,,
1,423,,,,,,,,,,...,,,,,,,42.0970,,,
0,422,,,,,,,,,,...,,,,,,,,,,

In [31]:
data.toggle_columns(list(set(RESULTS_JUNK) | set(RESULT_KEYS_ERR)), False)
df = data.toggle_lod(False).iloc[:, :]
df = df.replace("", nan)
df = df.dropna(subset=df.columns.difference(["File #"]), how="all", axis=0)
df.fillna("")

,File #,Li,Be,C,Mg,MgO,Al,Al2O3,Si,SiO2,...,Os,Ir,Pt,Au,Hg,Tl,Pb,Bi,Th,U
1572,2105,,,,,,,,,,...,,,,,,,40.5181,0.0307,,
1571,2104,,,,,0.8268,,,,,...,,,,,,,0.0035,,,
1570,2103,,,,,1.3664,,,,0.6882,...,,,,,,,,,,
1569,2102,,,,,,,,,,...,,,,,,,,,,
1568,2101,,,,,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,426,,,,,,,,,30.9298,...,,,,,,,28.0739,0.0283,,
3,425,,,,,,,0.3981,,79.1598,...,,,,,,,0.0144,,,
2,424,,,,,,,,97.5537,,...,,,,,,,0.4554,,,
1,423,,,,,,,,,,...,,,,,,,42.0970,,,
0,422,,,,,,,,,,...,,,,,,,,,,

In [26]:
import re

spectrum_label = "211"

files = [
    filename
    for filename in os.listdir("/home/puglet5/Documents/PROJ/test_data/smalts pdz")
    if filename.endswith(".pdz")
]

p = re.compile(f'^([0]+){spectrum_label}-')

files_re = [s for s in files if p.match(s) ]
files_re.__len__()

1